@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="actors">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1 class="section-title"></h1>
                <div id="owl-actors" class="owl-carousel owl-theme">

                    <div class="alert alert-success" style="margin:10px 0 -20px 0;">
                        <h3>Üyeliğiniz başarıyla tamamlanmıştır...</h3>
                        <p>Üyeliğiniz yazmış olduğunuz E-Posta adresinize gönderilen aktivasyon linkine tıkladığınızda aktif olacaktır. Lütfen mail adresinizi doğru yazdığınıza emin olunuz. Junk yada Önemsiz Posta kontrolü yapmanızı tavsiye ederiz.</p>
                    </div>

                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->

    </div><!-- /.container -->

</section>
<section id="actors"></section>
