@{
    ViewBag.Title =@WebProgramlama.Resources.lang.Iletisim;
}
<section id="contact">
    <div class="video-content">
        <ul class="social-buttons">
            <li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a></li>
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i> <span>Facebook</span></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i> <span>Google+</span></a></li>
            <li><a href="https://www.flickr.com/"><i class="fa fa-flickr fa-fw"></i> <span>Flickr</span></a></li>
            <li><a href="https://youtube.com/"><i class="fa fa-youtube fa-fw"></i> <span>You Tube</span></a></li>
        </ul>
    </div>
</section><!-- /#contact -->
